$white: #FFFFFF;
$grey1: #212121;
$grey2: #343434;
$pale: #f7f6f2;
$very-pale: #F7F6F2;

$blue1: #2c2d84;

$yellow: #FFB81C;

$max-width: 1000px;
$breakpoint: 750px;




// blue: "#2c2d84",

// grey1: "#212121",
// grey2: "#343434",
// grey3: "#999999",
// grey4: "#b6b6b6",
// grey5: "#F7F6F2",

// brown: "#C7BAA6",

// green: "#94AC43",

// focus: "#FFB81C",

// paleOrange: "#F5F1E0",

// maxWidth: "930px"